@{
    Layout = null;
}
@using System.Security.Claims
@if (User.Identity.IsAuthenticated)
{

    ClaimsPrincipal user = User;
    var userId = user.Claims.FirstOrDefault(x => x.Type == "Id").Value ?? "";
    var userEmail = user.Claims.FirstOrDefault(x => x.Type == "Email").Value ?? "";
    var userDisplayName = user.Claims.FirstOrDefault(x => x.Type == "DisplayName").Value ?? "";
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/efirma/images/icons/red.jpeg" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/efirma/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/efirma/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/efirma/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/efirma/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/efirma/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/efirma/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/efirma/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/efirma/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/efirma/css/util.css">
    <link rel="stylesheet" type="text/css" href="/efirma/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <nav class="navbar navbar-light" style="margin-bottom: 5px;z-index: 10;background-color: #f7f7f7;box-shadow: -5px 3px 8px;position:fixed;top: 0;width: 100%">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Signature/UploadElement">
                <img src="/efirma/images/logo_1.jpeg" alt="" width="145px" height="40px">
            </a>

            <form class="d-flex">
                <div class="action">
                    <div class="profile" onclick="menuToggle();">
                        <img id="proPic" src="/user.png" alt="">
                    </div>
                    <div class="profileMenu">
                        <img id="proPicCopy" class="proCopy" src="" alt="">
                        <h4 class="profileName">@userDisplayName</h4>
                        <h4>@userEmail</h4>
                        <ul>
                            @*<li><i class="fa fa-medkit"></i><a href="index5.html">Setting</a></li>*@
                            <li><i class="fa fa-sign-out"></i><a href="/User/Logout">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </nav>

    <div class="document-flow">
        <div class="container-login100" style="margin-top: 69px">
            <div class="wrap-login100">

                <form class="flowB">
                    <div class="box">
                        <h5 class="expDate">Document</h5>
                        <br>
                        <input type="hidden" value="@ViewBag.FileName" class="FileName" />
                        <i class="fa fa-file-pdf-o"></i><span>@ViewBag.FileName</span>
                        <br>
                        <span class="expDate">
                            Expiration date
                            <ul>
                                <li>
                                    <i class="fa fa-question"></i>
                                    <div class="content1">
                                        <p>Set a deadline by which the document must be signed. After this date, the signers and spectators will not be able to see or sign the document.</p>
                                    </div>
                                </li>
                            </ul>
                        </span>                        <label class="switch">
                            <input id="toggleCheckBox" type="checkbox">
                            <span id="btnToggle" class="slider round"></span>
                        </label>
                        <br>
                        <span class="docTxt">if by this date the document has been signed, it will be automatically deleted the next day</span>
                        <br>
                        <div id="expDateSection" style="border: 1px solid black;margin-top: 14px">
                            <input style="width: 100%" type="date" id="start" name="exp-date"
                                   value="2018-07-22"
                                   min="2018-01-01" max="2018-12-31">
                        </div>
                        <br>
                        <span class="reminders">
                            Reminders
                            <ul>
                                <li>
                                    <i class="fa fa-question"></i>
                                    <div class="content2">
                                        <p>We will send up to 5 automatic reminders to pending signers following the periodicity of the option you select.</p>
                                    </div>
                                </li>
                            </ul>
                        </span>
                        <select class="remiSelector" name="days">
                            <option value="threeDays">Every three days (default)</option>
                            <option value="forDay">Every for days</option>
                            <option value="fiveDay">Every five days</option>
                        </select>


                        <div class="msgForSignersAria">
                            <span class="reminders">
                                Massage for signers
                                <ul>
                                    <li>
                                        <i class="fa fa-question"></i>
                                        <div class="content">
                                            <p>Send a personalized message to your signers to give them context or instructions regarding the document. This message will be included in the invitation email.</p>
                                        </div>
                                    </li>
                                </ul>
                            </span>

                            <label style="margin-left: -44px;" class="switch">
                                <input id="toggleMessageCheckBox" type="checkbox">
                                <span id="btnMessageToggle" class="slider round"></span>
                            </label>
                            <div id="msgBoxSection" style="border: 1px solid black;margin-top: 14px">
                                @*<form action="">*@
                                    <textarea class="msgBox MessageForSigners" id="msgBox" name="message" rows="4" cols="30"></textarea>
                                    <br><br>
                                @*</form>*@
                            </div>
                            <span class="docTxt">Please, check the document you are preparing and the emails of the signers. When you are ready to request signatures, click the "Request signatures" button</span>
                        </div>

                        <button id="requestSignatures" style="margin-top: 29px;" class="login100-form-btn">
                            <a style="color: white;text-decoration: unset;">REQUEST SIGNATURES</a>
                        </button>
                        <button style="margin-top: 29px;background-color: white;border: 1px solid black" class="login100-form-btn">
                            <a style="color: black;text-decoration: unset;">Cancel</a>
                        </button>
                    </div>
                </form>

                <div id="PaymentModal" class="modal-bg">
                    <div class="paymentModal">
                        <span id="payment-model-close" class="model-close">X</span>
                        <form class="PaymentForm">
                            <div class="payment-container">
                                <h1 class="paymentTop1">Confirm Your Payment</h1>
                                <div class="first-row">
                                    <div class="owner">
                                        <h3 class="paymentTop1 ">Card Holder Name</h3>
                                        <div class="input-field">
                                            <input type="text" class="CustomerName" required>
                                        </div>
                                    </div>
                                    <div class="cvv">
                                        <h3 class="paymentTop1">CVC</h3>
                                        <div class="input-field">
                                            <input type="text" class="CVC" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="second-row">
                                    <div class="card-number">
                                        <h3 class="paymentTop1">Card Number</h3>
                                        <div class="input-field">
                                            <input type="text" class="CardNumder" required>
                                        </div>
                                    </div>
                                    <div class="amount">
                                        <h3 class="paymentTop1">Amount</h3>
                                        <div class="input-field">
                                            <input type="text" class="Amount" value="39" disabled>
                                        </div>
                                    </div>

                                </div>

                                <div class="third-row">
                                    <h3 class="paymentTop1">Expire Date</h3>
                                    <div class="selection">
                                        <div class="date">
                                            <select name="months" id="months" class="Month">
                                                <option value="01">Jan</option>
                                                <option value="02">Feb</option>
                                                <option value="03">Mar</option>
                                                <option value="04">Apr</option>
                                                <option value="05">May</option>
                                                <option value="06">Jun</option>
                                                <option value="07">Jul</option>
                                                <option value="08">Aug</option>
                                                <option value="09">Sep</option>
                                                <option value="10">Oct</option>
                                                <option value="11">Nov</option>
                                                <option value="12">Dec</option>
                                            </select>
                                            <input type="number" class="Year" value="2021" min="2021" max="2030" required>
                                        </div>
                                        <div class="cards">
                                            <img src="/eFirma/images/mc.png" alt="">
                                            <img src="/eFirma/images/vi.png" alt="">
                                            <img src="/eFirma/images/Stripe-Logo.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <button class="confirm" type="submit">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="flowA">
                    <h4 class="docpagetop1">Preparation of the document</h4>
                    <!--<div class="btnSection">
                    <span id="btnPreparation" class="btnTbl">PREPARATION</span>-->
                    @*<span id="btnDocument" class="btnTbl">DOCUMENT</span>*@
                    <!--</div>-->
                    <div class="mainSection">
                        <div id="preparationSection" class="preparationSection">
                            <div class="participationSection">
                                <h5 class="docPageTop2">Add Participants</h5>
                                <span class="docPageTop3">Add Reviewers: Do you need ago ahead for this document? <i class="fa fa-question"></i></span>
                            </div>

                            <div class="signatories">
                                <span class="signatoriesLbl">Signatories</span>
                                <div class="container">
                                    <table class="_table">
                                        <thead>
                                            <tr>
                                                <th>EMAIL</th>
                                                <th>NAME</th>
                                                <th width="50px">
                                                    <div class="action_container">
                                                        <button class="success" onclick="create_tr('table_body')">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="table_body">
                                            <tr class="SignatureTbody">
                                                <td>
                                                    <input type="text" required class="form_control SigantureEmailHidden" placeholder="Jhon@gmail.com" value='@(ViewBag.x == 1 ? userEmail : "")'>
                                                </td>
                                                <td>
                                                    <input type="text" required class="form_control SigantureNameHidden" placeholder="Jone" value='@(ViewBag.x == 1 ? userDisplayName : "")'>
                                                </td>
                                                <td>
                                                    <div class="action_container">
                                                        <button class="danger" onclick="remove_tr(this)">
                                                            <i class="fa fa-close"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <h5 class="docPageTop4">Add viewers</h5>
                            <span class="docPageTop5">Viewers are notified every time someone signs the document and they also receive a copy of the signed document in their mail.</span>

                            <button onauxclick="docPageTop6" id="addViewer" onclick="create_viewers_tr('viewer_table_body')" style="margin-top: 29px;margin-bottom:31px;width: 28%;background-color: white;border: 1px solid black;" class="login100-form-btn">
                                <a style="color: black;text-decoration: unset;font-weight: bold">+ ADD VIEWER</a>
                            </button>

                            <div id="plus" class="container">
                                <table class="_table">
                                    <thead>
                                        <tr>
                                            <th>EMAIL</th>
                                            <th>NAME</th>
                                        </tr>
                                    </thead>
                                    <tbody id="viewer_table_body">
                                        <tr class="ViewerTbody">
                                            <td>
                                                <input type="text" class="form_control ViewerEmailHidden" placeholder="Jhon@gmail.com">
                                            </td>
                                            <td>
                                                <input type="text" class="form_control ViewerNameHidden" placeholder="Jone">
                                            </td>
                                            <td>
                                                <div class="action_container">
                                                    <button class="danger" onclick="remove_tr(this)">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="documentSection" class="documentSection">
                            <div class="pdfSection" style="margin-top: 20px">
                                <iframe id="iFrame" class="pdf" src=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="/efirma/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/efirma/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/efirma/vendor/bootstrap/js/popper.js"></script>
    <script src="/efirma/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/efirma/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/efirma/vendor/daterangepicker/moment.min.js"></script>
    <script src="/efirma/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/efirma/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/efirma/js/main.js"></script>

    <script>
        $(document).on('submit', '.PaymentForm', function (e) {
            $(".confirm").prop("disabled", true);
            SubmitFunction();
            e.stopImmediatePropagation();
            return false;
        });


        function SubmitFunction() {
            debugger;
            var FileName = $(".FileName").val();
            var MessageForSigners = $(".MessageForSigners").val();
            //var Total = $(".Total").val();

            var CustomerName = $(".CustomerName").val();
            var Email = $(".Email").val();
            var Address = $(".Address").val();
            var CardNumder = $(".CardNumder").val();
            var Month = $(".Month").val();
            var Year = $(".Year").val();
            var CVC = $(".CVC").val();
            var Amount = $(".Amount").val();

            var Object = new FormData;
            var i = 0;

            //SignersList Add Work
            var SignersListAppendDiv = $('.SignatureTbody');
            SignersListAppendDiv.each(function () {
                debugger;
                var SignatureName = $(this).find(".SigantureNameHidden").val();
                var SignatureEmail = $(this).find(".SigantureEmailHidden").val();

                Object.append("SignersList[" + i + "].SignatureName", SignatureName);
                Object.append("SignersList[" + i + "].SignatureEmail", SignatureEmail);
                i++;
            });

            //ViewersList Add Work
            i = 0;
            var ViewersListAppendDiv = $('div .ViewerTbody');
            ViewersListAppendDiv.each(function () {

                var ViewerName = $(this).find(".ViewerNameHidden").val();
                var ViewerEmail = $(this).find(".ViewerEmailHidden").val();

                Object.append("ViewersList[" + i + "].ViewerName", ViewerName);
                Object.append("ViewersList[" + i + "].ViewerEmail", ViewerEmail);
                i++;
            });

            Object.append("FileName", FileName);
            Object.append("MessageForSigners", MessageForSigners);
            //Object.append("Total", Total);


            Object.append("PayModel.CustomerName", CustomerName);
            Object.append("PayModel.Email", Email);
            Object.append("PayModel.Address", Address);
            Object.append("PayModel.CardNumder", CardNumder);
            Object.append("PayModel.Month", Month);
            Object.append("PayModel.Year", Year);
            Object.append("PayModel.CVC", CVC);
            Object.append("PayModel.Amount", Amount);


            $.ajax({
                type: "POST",
                url: '/Signature/CreateNew',
                data: Object,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('.btn').prop('disabled', false);
                    if (response.result == 'Redirect')
                        window.location = response.url;
                },
                error: function (result) {
                    ErrorAlert("null");
                }
            });

            return false;

        }

    </script>


</body>
</html>
}